<h1><%= channel.name %></h1>
<h2><%= channel.description %></h2>
<input type="text" value="<%= user.id %>" id="userId" hidden>

<ul>
  <% channel.messages.forEach( msg => { %>
  <li>
    <span><%= msg.by %> wrote on <%= msg.date %>:</span><br /><span
      ><%= msg.content %></span
    ><br>
  </li>
  <% }) %>
</ul>

  <form id="form" method="POST" action="/channels/<%= channel._id %>">
    <textarea
      name="content"
      cols="30"
      rows="7"
      placeholder="Post"
      id="content"
      autocomplete="off"
      required
    ></textarea
    ><br />
    <input type="submit" value="Post" id="submit" />
  </form>

<script src="../socket.io/socket.io.js"></script>
<script src="/public/scripts/script.js"></script>
